<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/addroom_admin.css">
</head>
<body>
    <div class="admin-container">
        <nav class="sidebar">
            <h2>Admin Panel</h2>
            <ul>
                <li><a href="/admin">Dashboard</a></li>
                <li><a href="/admin/user">Users</a></li>
                <li><a href="/admin/payment">Payments</a></li>
                <li><a href="/admin/room">Rooms</a></li>
            </ul>
        </nav>
        <main class="content">
            <header>
                <h1>add rooms</h1>
                <button class="add-product">ADD PRODUCT</button>
            </header>

        </main>
    </div>
    <script src="/js/addroom_admin.js"></script>
</body>
</html>
