<% layout("boilerplate.ejs")  %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <title>Resort Photos</title>
    <link rel="stylesheet" href="/css/allphotosgallary.css">
</head>
<body>
     <div class="secondHeader">
        <div class="nav-container">
            <nav>
                <ul>
                    <li><a href="/wellness/allphotos">All photos</a></li>
                    <li><a href="/wellness/Rooms">Rooms</a></li>
                    <li><a href="/wellness/dining">Dining</a></li>
                    <li><a href="/wellness/wellness">Wellness</a></li>
                    <li><a href="/wellness/Wedding&events">Wedding& Events </a></li>
                    <li><a href="/wellness/activities">Activities</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <h1 style="text-align: center;">All photos</h1>

    <div id="photo-container">
        <img src="/image/ent1.PNG" alt="Resort Photo 1">
        <img src="/image/ent2.PNG" alt="Resort Photo 2">
        <img src="/image/ent3.PNG" alt="Resort Photo 3">
        <img src="/image/ent4.PNG" alt="Resort Photo 4">
        <img src="/image/ent5.PNG" alt="Resort Photo 5">
        <img src="/image/ent6.PNG" alt="Resort Photo 6">
        <img src="/image/ent7.PNG" alt="Resort Photo 7">
        <img src="/image/ent8.PNG" alt="Resort Photo 8">
        <img src="/image/ent9.PNG" alt="Resort Photo 9">
        <img src="/image/sit1.PNG" alt="Resort Photo 10">
        <img src="/image/sit2.PNG" alt="Resort Photo 12">
        <img src="/image/sit3.PNG" alt="Resort Photo 13">
        <img src="/image/adv1.PNG" alt="Resort Photo 14">
        <img src="/image/adv2.PNG" alt="Resort Photo 15">
        <img src="/image/adv3.PNG" alt="Resort Photo 16">
        <img src="/image/4.jpg" alt="Resort Photo 17">
    </div>
</body>
</html>