<% layout("boilerplate.ejs")  %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Anantam - Your perfect event destination for luxurious weddings, corporate events, and more.">
    <meta name="keywords" content="Anantam, Weddings, Events, Venue, Banquets">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <title>Anantam | Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div>
    <!-- Hero Section -->
    <section id="home" class="hero"> 
        <div class="hero-content">
            <p class="order1">Welcome to Anantam Resort<br>Experience luxury and elegance for every occasion
                <br><a href="/wellness/allphotos" ><button id="learn-more-btn">Learn More</button></a></p>          
        </div>
    </section>

    <!-- About Us Section -->
    <section>  
        <!-- <center> 
        <p class="about-order2">About us</p> 
        </center><br> -->
    <div class="container">
        <div class="text-content">
          <p class="about-order3"> Anantam Resort </p><br>
          <p class="about-order4">Welcome to ANANTAM RESORT, where luxury meets nature in perfect harmony.
            Nestled in a serene and picturesque location,
            our resort is designed to provide a tranquil escape from the bustling world.
            With world-class amenities, elegant accommodations, and personalized service,
            we cater to leisure travelers, families, and corporate groups alike. Whether 
            you're seeking a relaxing retreat, a memorable family vacation, or a venue for
            business events, our resort offers a blend of comfort, adventure, and hospitality.
            Experience exquisite dining, rejuvenating spa treatments, and a range of recreational
            activities that promise unforgettable moments. At [Resort Name], your satisfaction is 
            our priority.</p>
        </div>
        <div class="image-content">
         <a href="/wellness/activities"><img src="/image/d3.png" alt="Descriptive Alt Text"></a> 
        </div>
      </div>
      </section>

      <!-- adding map in website  -->
      <section>
        <div class="map1">
            <p class="m1"> HOW TO REACH </p>
            <p class="m2">Our resort near Ahmedabad lies at a 45 kilometres drive from Ahmedabad gandhinagar , offering picturesque views and luxurious accommodations.
                 Perfect for a relaxing retreat, the resort combines natural beauty with modern amenities to create an unforgettable experience.</p><br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6458.675878732875!2d72.6951035614027!3d23.337817238035086
            !2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c2d3237ce0c41%3A0xbc320c50761c52f0
            !2sAnantam%20Clubs%20%26%20Resorts!5e0!3m2!1sen!2sin!4v1737354019687!5m2!1sen!2sin" 
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </section>
  </div>
    <script src="/js/homepage.js"></script>
</body>
</html>