<% layout("boilerplate.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <title>Resort Management</title>
    <link rel="stylesheet" href="/public/css/wellnessdining.css">
</head>
<body>
    <div class="secondHeader">
        <div class="nav-container">
            <nav>
                <ul>
                    <li><a href="/wellness">All photos</a></li>
                    <li><a href="/wellness/Rooms">Rooms</a></li>
                    <li><a href="/wellness/dining">Dining</a></li>
                    <li><a href="/wellness/wellness">Wellness</a></li>
                    <li><a href="/wellness/Wedding&events">Wedding& Events </a></li>
                    <li><a href="/wellness/activities">Activities</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="secondHeader">
        <div class="nav-container">
            <nav>
                <ul>
                    <li><a href="dining5_cafeteria.html">Cafeteria</a></li>
                    <li><a href="dining5_restaurant.html">Restaurant</a></li>
                    <li><a href="dining5_gamezone.html">Game Zone</a></li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>