<% layout("boilerplate.ejs")  %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <title>Resort gamezone</title>
   
    <link rel="stylesheet" href="/css/dining_gamezone.css">
</head>
<body>
    <div class="secondHeader">
        <div class="nav-container">
            <nav>
                <ul>
                    <li><a href="/dining_cafeteria">Cafeteria</a></li>
                    <li><a href="/dining/restaurant">Restaurant</a></li>
                    <li><a href="/dining/gamezone">Game Zone</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="background">
        <div class="overlay-container">
            <div class="content">
                <h1>Game Zone</h1>
                <img src="/image/gamezon.jpg" alt="Overlay Image">
                <p>Enjoy our friendly, café-style ambience, or grab-and-go with a variety of light bites including fresh sandwiches,
                     baked goods, and desserts with access to multiple indoor games.</p>
            </div>
        </div>
    </div>
</body>
</html>