<% layout("boilerplate.ejs")  %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <title>Resort Photos</title>
   
    <link rel="stylesheet" href="/css/dining_restaurant.css">
</head>
<body>
    <div class="secondHeader">
        <div class="nav-container">
            <nav>
                <ul>
                    <li><a href="/dining_cafeteria">Cafeteria</a></li>
                    <li><a href="/dining/restaurant">Restaurant</a></li>
                    <li><a href="/dining/gamezone">Game Zone</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="background">
        <div class="overlay-container">
            <div class="content">
                <h1>Restaurant</h1>
                <img src="/image/res.jpg" alt="Overlay Image">
                <p> Anantam Resort's restaurant offers a serene dining experience with breathtaking views of nature, making it the perfect spot to unwind.
                    The menu features a delightful blend of local and international cuisines, crafted with fresh, seasonal ingredients. Whether it's a casual meal or a special celebration,
                     the ambiance and flavors promise to leave a lasting impression.</p>
            </div>
        </div>
    </div>
</body>
</html>