<% layout("boilerplate.ejs")  %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <title>Resort Cafeteria</title>
    <link rel="stylesheet" href="/css/dining_cafeteria.css">
</head>
<body>
   
    <div class="secondHeader">
        <div class="nav-container">
            <nav>
                <ul>
                    <li><a href="/dining_cafeteria">Cafeteria</a></li>
                    <li><a href="/dining/restaurant">Restaurant</a></li>
                    <li><a href="/dining/gamezone">Game Zone</a></li>
                </ul>
            </nav>
        </div>
    </div>
    
    <div class="background">
        <div class="overlay-container">
           
            <div class="content">
                <h1>Cafeteria</h1>
                <img src="/image/cafeteria.jpg" alt="Overlay Image">
                <p> "Welcome to Anantam Resort's Cafeteria, where flavors meet tranquility! Indulge in a diverse menu featuring local delicacies and international favorites,
                     all prepared with fresh, high-quality ingredients. Enjoy your meal in a serene ambiance, surrounded by the lush beauty of nature."</p>
            </div>
        </div>
    </div>
</body>
</html>