<% layout("boilerplate.ejs")  %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <title>Honeymoon-package Resort </title>
    
    <link rel="stylesheet" href="/css/packageshoneymoon.css">
</head>
<body>
    <div class="secondHeader">
        <div class="nav-container">
            <nav>
                <ul>
                    <li><a href="/packages/picnic">Picnic package</a></li>
                    <li><a href="/packages/honeymoon">Honeymoon package</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="main-container">
        <div class="content-container">
            <div class="top-section">
                <div class="text-content">
                    <h1>BEGIN THE NEW JOURNEY OF LIFE WITH ANANTAM</h1>
                    <p>A honeymoon is an excursion into the heart of your spouse. A beginning of a lifelong journey of togetherness. 
                        Ananatam, with its special honeymoon packages, is the perfect place to begin this wonderful journey.
                    </p>
                    <p>As you enter the room, be greeted by beautiful and intricate floral decorations. Indulge yourself and your partner with some mouth-watering cake.
                         Thereafter we give you the option to choose from fruit baskets and almond & saffron milk. Let the dream night turn into a glorious new day with a sumptuous breakfast at Café ana.</p>
                </div>
                <img src="/image/r8.JPG" alt="Main Image"> <!-- Replace with your image -->
            </div>

            <div class="bottom-section">
                <div class="image-box">
                    <img src="/image/r1.JPG" alt="Image 1"> <!-- Replace with your image -->
                    <h1>Silver Package</h1>
                    <p>Our silver package has all the ingredients to make your honeymoon sweeter.</p>
                    <p>• Beautiful light flower decoration on bed</br>
                        • 01 Bouquet by the bedside</br>
                        • A 250 Gm heart-shaped cake</br>
                        • Rate:- 2500 + 18% GST</p>
                        <br>
                        <a href="/bookingpage"><button style="margin-top: 20px;">book now</button></a>
                </div>
                <div class="image-box">
                    <img src="/image/r3.JPG" alt="Image 2"> <!-- Replace with your image -->
                    <h1>Golden Package</h1>
                    <p>Our Golden package has all the ingredients to make your honeymoon sweeter.</p>
                    <p>• Beautiful flower decoration on bed</br>
                        • 02 Bouquets by the bedside</br>
                        • A 250 Gm heart-shaped cake </br>
                        • Heart-shaped white and red balloons on the floor</br>
                        • Rate:- 3500 + 18% GST</p>
                        
                        <a href="/bookingpage"><button  style="margin-top: 15px;">book now</button></a>
                </div>
                <div class="image-box">
                    <img src="/image/r8.JPG" alt="Image 3"> <!-- Replace with your image -->
                    <h1>Platinum Package</h1>
                    <p>The Platinum package includes</p>
                    <p> • Beautiful flower decoration on the bed with a door-to-bed pathway</br>
                        • Non-Alcoholic Champagne Bottle</br>
                        • 02 Bouquet by the bedside</br>
                        • A 250 Gm heart-shaped cake</br>
                        • Heart-shaped white and red balloons on the floor</br>
                        • Rate:- 5500 + 18% GST</p>
                    <a href="/bookingpage"><button>book now</button></a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>