<% layout("boilerplate.ejs")  %> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <title>Resort SURooms</title>
    <link rel="stylesheet" href="/css/stay2rooms.css"/>
</head>
<body>
    <div class="secondHeader">
        <div class="nav-container">
            <nav>
                <ul>
                    <li><a href="/stay/room">Rooms</a></li>
                    <li  style="margin-top: 20px;"><a href="/stay/chalet">Chalet</a></li>
                    <li style="margin-top: 20px;"><a href="/stay/suites">Suites</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="background">
        <div class="overlay-container">
            <img src="/image/r3.JPG" alt="Overlay Image">
            <div class="content">
                <h1>Superior Rooms</h1>
                <h3>(421 Sq.ft.)</h3>
                <p> These elegant rooms are designed and furnished with one thing in mind - your comfort. The wooden flooring gives it a classic touch and it comes with a sweet view that overlooks the pool or the garden.
                      With adequate space and great amenities to make the experience outstanding.</p>
                     
                      <a href="/bookingpage" class="btn">Superior Room Booking</a>

            </div>
        </div>
    </div>
</body>
</html>