<% layout("boilerplate.ejs")  %> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <title>Resort Chalet</title>
    <link rel="stylesheet" href="/css/stay2chalet.css"/>
</head>
<body>
    <div class="secondHeader">
        <div class="nav-container">
            <nav>
                <ul>
                    <li style="margin-top: 20px;"><a href="/stay/room">Rooms</a></li>
                    <li  style="margin-top: 20px;"><a href="/stay/chalet">Chalet</a></li>
                    <li style="margin-top: 20px;"><a href="/stay/suites">Suites</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="background">
        <div class="overlay-container">
            <img src="/image/r7.JPG" alt="Overlay Image">
            <div class="content">
                <h1>Chalet Rooms</h1>
                <h3>(437 Sq.ft.)</h3>
                <p>Unwind with your loved ones in the snug, warm and invigorating space of our Chalets.
                     Furnished with luxury and located adjacent to the swimming pool, they are a preferred choice among guests looking for comfy rooms. 
                     The open balcony is a great place to kick back and relax while sipping on your favourite drink in the evenings.</p>
                 <a href="/bookingpage" class="btn">Chalet Room Booking</a>
            </div>
        </div>
    </div>
</body>
</html>