<% layout("boilerplate.ejs")  %> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <title>Resort suites</title>
    <link rel="stylesheet" href="/css/stay2suites.css"/>
</head>
<body>
    <div class="secondHeader">
        <div class="nav-container">
            <nav>
                <ul>
                    <li style="margin-top: 20px;"><a href="/stay/room">Rooms</a></li>
                    <li  style="margin-top: 20px;"><a href="/stay/chalet">Chalet</a></li>
                    <li style="margin-top: 20px;"><a href="/stay/suites">Suites</a></li>
                </ul>
            </nav>
        </div>
    </div>


    <div class="background">
        <div class="overlay-container">
            <img src="/image/r5.JPG" alt="Overlay Image">
            <div class="content">
                <h1>Suites</h1>
                <h3>(967 Sq.ft.)</h3>
                <p>Ample, well-furnished rooms where classic aesthetics and new-age amenities seamlessly merge.
                      They harbour a separate living area with a powder room. 
                     The classy interiors are accompanied by a plethora of amenities to ensure a memorable stay. The 58 sq. ft. bathroom space comes with a shower area. </p>
                     
                      <a href="/bookingpage" class="btn">Suites Room Booking</a>

            </div>
        </div>
    </div>
</body>
</html>