<% layout("boilerplate.ejs")  %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <title>Wedding&Event Resort </title>
    <link rel="stylesheet" href="/css/wedding&events.css">
</head>
<body>
    <div class="secondHeader">
        <div class="nav-container">
            <nav>
                <ul>
                    <li><a href="/wedding&events_wedding">wedding Event</a></li>
                    <li><a href="/wedding&events_corporate">Corporate Event</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="content-wrapper">
        <h1>HOST WEDDINGS AND RECEPTIONS WITH 5 STAR LUXURY IN THE LAP OF NATURE</h1>
        <p> We execute your destination wedding plans in the most pleasant and organised manner in order to fill your big day with immense joy.
             Memories last a lifetime hence; we ensure that the families and guests are free of responsibilities and get an opportunity to reminisce the happiness of two families coming together while planning your destination wedding near Ahmedabad.</p>

        <div class="gallery">
            <div class="gallery-item">
                <img src="/image/wb1.jpg" alt="Image 1">
                <div class="overlay">Banquet</div>
            </div>
            <div class="gallery-item">
                <img src="/image/wb2.jpg" alt="Image 2">
                <div class="overlay">Reception</div>
            </div>
            <div class="gallery-item">
                <img src="/image/wb3.jpg" alt="Image 3">
                <div class="overlay">Royal Dinner</div>
            </div>
            <div class="gallery-item">
                <img src="/image/wb4.jpg" alt="Image 4">
                <div class="overlay">Wedding</div>
            </div>
            <div class="gallery-item">
                <img src="/image/wb5.jpg" alt="Image 5">
                <div class="overlay">Manglik Vidhis</div>
            </div>
            <div class="gallery-item">
                <img src="/image/wb6.jpg" alt="Image 6">
                <div class="overlay">Sangeet Sandhya</div>
            </div>
            <div class="gallery-item">
                <img src="/image/wb7.jpg" alt="Image 7">
                <div class="overlay">Mehandi</div>
            </div>
            <div class="gallery-item">
                <img src="/image/wb8.jpg" alt="Image 8">
                <div class="overlay">Garba Night</div>
            </div>
            <div class="gallery-item">
                <img src="/image/wb9.jpg" alt="Image 9">
                <div class="overlay">Pre-Wedding Photoshoot</div>
            </div>
        </div>
    </div>
</body>
</html>