<% layout("boilerplate.ejs")  %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <title>wedding&Event c Resort </title>
    <link rel="stylesheet" href="/css/wedding&events_corporate.css">
</head>
<body>
    <div class="secondHeader">
        <div class="nav-container">
            <nav>
                <ul>
                    <li><a href="/wedding&events_wedding">wedding Event</a></li>
                    <li><a href="/wedding&events_corporate">Corporate Event</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="background">
        <div class="overlay-container">
           
            <div class="content">
                <h1>Unmatched Service - When Perfection is Simply Not Enough</h1>
                <img src="/image/co1.JPG" alt="Overlay Image">
                <p>Ananatam provides an elite and reliable platform for corporate meetings, 
                    conferences as well as creative arrangements. A variety of arrangement options,
                     a dedicated events team along with an exemplary service of our resort, will make your event flawless and stress-free. 
                     Numerous combinations are available to suit your preferences in decor, location, as well as dining arrangements. Our team is well trained to provide the best experiences whether it be a social or a corporate event. 
                     Our goal is to exceed your expectations and ensure that your guests are most comfortable. For this, we provide an array of services that would enhance the purpose of your occasion.</p>
            </div>
        </div>
    </div>
</body>
</html>