<% layout("boilerplate.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <title>Resort Photos</title>
    <style>
       
    </style>
    <link rel="stylesheet" href="/css/allphotosgallary.css">
</head>
<body>
    <div class="secondHeader">
        <div class="nav-container">
            <nav>
                <ul>
                    <li><a href="/wellness/allphotos">All photos</a></li>
                    <li><a href="/wellness/Rooms">Rooms</a></li>
                    <li><a href="/wellness/dining">Dining</a></li>
                    <li><a href="/wellness/wellness">Wellness</a></li>
                    <li><a href="/wellness/Wedding&events">Wedding& Events </a></li>
                    <li><a href="/wellness/activities">Activities</a></li>
                </ul>
            </nav>
        </div>
    </div>


    <h1 style="text-align: center;">Rooms</h1>

    <div id="photo-container">
        <img src="/image/r1.JPG" alt="Resort Photo 1">
        <img src="/image/r2.JPG" alt="Resort Photo 2">
        <img src="/image/r3.JPG" alt="Resort Photo 3">
        <img src="/image/r4.JPG" alt="Resort Photo 4">
        <img src="/image/r5.JPG" alt="Resort Photo 5">
        <img src="/image/r6.JPG" alt="Resort Photo 6">
        <img src="/image/r7.JPG" alt="Resort Photo 7">
        <img src="/image/r8.JPG" alt="Resort Photo 8">
    </div>
</body>
</html>