
        #photo-container {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            margin-left:140px;
            margin-right: 0%;
        }
        img {
            width: 20%;
            height: auto;
            margin: 10px;
            border-radius: 8px;
        }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .secondHeader {
            background-color: #d7b369;
            color: white;
            /* max-height:50px ; */
            height: 10vh;
            
            text-align: center;
        }
        .secondHeader .nav-container {
            display: inline-block;
        }
        .secondHeader nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .secondHeader nav ul li {
            display: inline;
            margin: 0 17px;
        }
        .secondHeader nav ul li a {
            color: white;
            text-decoration: none;
        }
        .secondHeader nav{
            margin-top: 3vh;

        }
        .secondHeader nav ul li a:hover {
            text-decoration: underline;
        }
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: Arial, sans-serif;
        }
        .background {
            background: url('/image/gamezon.jpg') no-repeat center center/cover;
            height: 120vh;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        .background::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('images/gamezon.jpg') no-repeat center center/cover;
            opacity: 0.5;
            z-index: 1;
        }
        .overlay-container {
            display: flex;
            align-items: center;
            background: rgba(255, 255, 255, 0.8);
            padding: 45px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            max-width: 800px;
            gap: 20px;
            position: relative;
            z-index: 2;
        }
        .overlay-container img {
            width:680px;
            border-radius: 5px;
            padding: 10px;
        }
        .content {
            max-width: 700px;
        }
        .content h1 {
            margin: 0 0 10px;
            font-family: cursive;
            text-align: center;
            font-size:xx-large;
        }
        .content p {
            line-height: 1.6;
            margin: 0;
        }
    